body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
    
	background-color: #333;
	color: #fff;
	padding: 1rem;
}

header h1 {
	margin: 0;
}

header h2 {
	margin: 0;
	float: right;
	margin-right: 10px;
}

header h1, header h2 {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

main {
	padding: 2rem;
}

section {
	margin-bottom: 2rem;
}

section h2 {
	margin-top: 0;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	text-align: center;
}

footer p {
	margin: 0;
}
#contact {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
}

#contact h2 {
	margin-top: 0;
}

#contact p {
	margin-bottom: 10px;
}

#contact a {
	text-decoration: none;
	color: #0066cc;
}

#contact a:hover {
	color: #004d99;
}

.image-container {
    text-align: left;
    width: 100%;
}

.image-container h4{
    margin-top: 0px;
    margin-left: 10px;
}

#zoom-image {
    width: 388px; /* Initial width */
    height: 518px; /* Maintain aspect ratio */
    transition: width 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Change cursor to pointer on hover */
}

#zoom-image:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

.image-container h3{
    margin-top: 0px;
    margin-left: 100px;
}

#zoom-image2 {
    width: 285px; /* Initial width */
    height: 177px; /* Maintain aspect ratio */
    transition: width 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Change cursor to pointer on hover */
}

#zoom-image2:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}


#zoom-image3 {
    width: 275px; /* Initial width */
    height: 183px; /* Maintain aspect ratio */
    transition: width 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Change cursor to pointer on hover */
}

#zoom-image3:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

#zoom-image4 {
    width: 300px; /* Initial width */
    height: 222px; /* Maintain aspect ratio */
    transition: width 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Change cursor to pointer on hover */
}

#zoom-image4:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}



.left-paragraph {
    text-align: left;
    width: 900px;
}
.right-paragraph {
    text-align: left;
    width: 900px;
}

.mmtLink a{
    color:white;
}

.mmtLink a:active{
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.paragraph-container{
    text-align: left;
}


.flex-container {
    display: flex;
  }
  
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 0px;
    padding: 10px;
    font-size: 14px;
}

.flex-container > div > h3{
    text-align: center;
}
